{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="full">
        <div class="left">
            <h1>Make an appointment</h1>
            <form class="formm">
                {% csrf_token %}
                {{ form }}
            </form>
            <button>Make an Appointment</button>
        </div>
        <div class="right">
            <h1>Maxime placeat facere possimus omnis</h1>
            <h2>17k</h2>
            <p>customers served (and counting)</p>
        </div>
    </div>










</body>
</html>